/*** COMMON ***/

@font-face {
  font-family: Tajawal;
  src: url(fonts/Tajawal-ExtraLight.ttf) format('truetype');
  font-weight: 200;
  font-display: block;
  /* this is to fix slow detect warning https://stackoverflow.com/questions/40143098/why-does-this-slow-network-detected-log-appear-in-chrome */
}

@font-face {
  font-family: Tajawal;
  src: url(fonts/Tajawal-Light.ttf) format('truetype');
  font-weight: 300;
  font-display: block;
}

@font-face {
  font-family: Tajawal;
  src: url(fonts/Tajawal-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: Tajawal;
  src: url(fonts/Tajawal-Medium.ttf) format('truetype');
  font-weight: 500;
  font-display: block;
}

@font-face {
  font-family: Tajawal;
  src: url(fonts/Tajawal-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: Tajawal;
  src: url(fonts/Tajawal-Black.ttf) format('truetype');
  font-weight: 900;
  font-display: block;
}

:root {
  --main-clr: #6e44ff;
  --light-blue: #45bdfb;
  --red: #ff3939;
  --yellow: #fdab1b;
  --orange: #ff8d4e;
  --green: #3dc585;
  --gray: #7a88a5;
  --gray-2: #A4BDC6;
  --light-gray: #e8eaeb;
  --black: #362B48;
  --white: #ffffff;
  --main-bg: #f8f6ff;
  --red-bg: #fee9e9;
  --orange-bg: #fff5e3;
  --green-bg: #ecfdf3;
  --gray-bg: #f0f5fd;
  --app-bg: #ffffff;
  --shadow: -1px 1px 8px 1px rgba(0, 0, 0, 0.1);
  --blue-shadow: 0 4px 8px rgb(110, 68, 255, 0.45);
  --red-shadow: 0 4px 8px rgba(255, 56, 56, 0.45);

}

* {
  box-sizing: border-box;
}

*,
body {
  font-family: 'Tajawal', sans-serif;
}

body {
  color: var(--white);
}

a {
  color: #fff76f;
}

li {
  list-style: none;
}


.ltr {
  direction: ltr;
}

.tel {
  direction: ltr;
  display: flex;
  justify-content: end;
}

/* This will be deleted later on */
.for-later-use {
  display: none !important;
}

/*** NAVBAR & PAGE & CONTENT BLOCK ***/

.navbar {
  height: 90px;
  background-color: #d62244;
  background-color: rgb(30 131 209);
}

.navbar::after {
  content: none;
}

.navbar-inner {
  padding: 0 15px;
  -moz-transition: background 500ms linear;
  -o-transition: background 500ms linear;
  -webkit-transition: background 500ms linear;
  -ms-transition: background 500ms linear;
  transition: background 500ms linear;
}

.navbar-inner i {
  -moz-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -ms-transition: all 500ms linear;
  transition: all 500ms linear;
}

.navbar .left a+a,
.navbar .right a+a {
  margin-right: 0;
}

.navbar .left a.date {
  line-height: initial;
  grid-gap: 6px;
}

.navbar .right button {
  margin-right: 12px;
  border: 0;
  padding: 0;
  background-color: transparent;
}

.navbar .navbar-user-container {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--white);
}

.navbar .navbar-user-container .navbar-icon {
  background: var(--white);
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  /* background-color: #e77e92;
  background-color: #ff0088; */
  font-weight: 500;
  font-size: 18px;
}

.navbar .navbar-user-container .navbar-user-welcoming-container {
  display: flex;
  flex-direction: column;
}

.navbar .navbar-user-container .navbar-user-name,
.logout {
  font-weight: 600;
  font-size: 18px;
  color: #00e1ff;
}

.navbar .navbar-title {
  font-weight: 600;
  font-size: 18px;
}

.right.sliding .cancel {
  font-size: 15px;
  color: var(--main-clr) !important;
  font-weight: 600;
}

.tabbar-fixed .page-content,
.tabbar-through .page-content,
.toolbar-fixed .page-content,
.toolbar-through .page-content {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 0 !important;
  background: rgb(201, 26, 59);
  background: linear-gradient(180deg, rgba(201, 26, 59, 1) 0%, rgba(241, 48, 85, 1) 55%);
  background: rgb(26, 121, 201);
  background: linear-gradient(180deg, rgba(26, 121, 201, 1) 0%, rgba(48, 175, 241, 1) 55%);
  color: var(--white);
}

.tabbar-fixed .page-content:before,
.tabbar-through .page-content:before,
.toolbar-fixed .page-content:before,
.toolbar-through .page-content:before {
  content: ' ';
  width: 100%;
  position: absolute;
  top: 0;
}

.content-block {
  color: var(--white);
}

/** WELCOME SCREEN **/

.welcome-screen {
  display: block;
  top: 0px;
  height: 100%;
  transform: initial;
}

.welcome-screen .welcome-screen-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(201, 26, 59);
  background: linear-gradient(180deg, rgba(201, 26, 59, 1) 0%, rgba(241, 48, 85, 1) 55%);
  background: rgb(26, 121, 201);
  background: linear-gradient(180deg, rgba(26, 121, 201, 1) 0%, rgba(48, 175, 241, 1) 55%);
}

.welcome-screen.swiper-container {
  height: 100%;
}

.welcome-screen .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weclome-screen-slide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 600px;
}

.weclome-screen-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.weclome-screen-img img {
  width: 90%;
  box-shadow: 1px 1px 6px 0px #f50000;
  border-radius: 10px;
}

.weclome-screen-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 155px;
}

.welcome-screen .weclome-screen-desc h1 {
  color: var(--white);
  font-weight: 600;
}

.welcome-screen .weclome-screen-desc p {
  width: 88%;
  margin: 10px auto;
  font-size: 24px;
}

.welcome-screen .welcome-next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px 70px;
  background-color: #ffc600;
  box-shadow: var(--blue-shadow);
  border-radius: 50px;
  font-size: 22px;
  font-weight: 600;
  color: var(--white);
}

.weclome-screen-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/*** APP ***/
.app-block {
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  border: 3px solid #e35974;
  border: 3px solid #59c5e3;
  background: #bf103133;
}

.app-num {
  float: left;
  margin-left: 15px;
  transform: rotate(25deg);
  line-height: 80px;
  font-size: 72px;
  font-weight: 600;
  color: #ffb9c673;
  color: #f1ff00;
}

.app-title {
  display: flex;
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

.app-subtitle {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
}

.random-msg {
  position: relative;
  margin-top: 10px;
  padding: 20px;
  /*
  background: #bf103180;
  background: #59020245;
  border: 1px solid #ab1734;
  border: 1px solid #c5c13f;
  */
  border: 4px solid #c5c13f33;
  border-radius: 50px;
  font-size: 22px;
  font-weight: 500;
  background: #007aff;
}

.random-msg:hover::after,
.random-msg:focus::after,
.random-msg:active ::after {
  content: '\2713';
  position: absolute;
  bottom: -44px;
  left: -10px;
  background: #0000003b;
  padding: 15px 22px;
  border-radius: 50%;
  font-size: 52px;
  font-weight: 600;
  color: #4ac552;
}

/* .random-msg-sent {
  content: '\2713';

  position: absolute;
  bottom: -44px;
  left: -10px;
  background: #0000003b;
  padding: 15px 22px;
  border-radius: 50%;
  font-size: 52px;
  font-weight: 600;
  color: #4ac552;
} */
.envelope {
  flex: 0 0 28%;
  /*grow | shrink | basis */
  height: 65px;
  display: flex;
  font-size: 42px;
  background: #00000021;
  background: #ff4f4f;
  border: 1px solid #cd6a6a;
  border: 1px solid #ff9e9e;
  border-radius: 5px;
}

.envelope i {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0eg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.dice {
  width: 100px;
  fill: #750017;
  fill: #dcd73f;
}

.shake-animation {
  animation: shake2 0.5s;
  animation-iteration-count: infinite;
}


@keyframes shake2 {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}


.guest-popup-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
  text-align: right;
}

.guest-popup-inner span {
  color: #ccc;
}

.modal-inner,
.modal-buttons {
  background-color: rgb(30 131 209);
}

.modal-button {
  background-color: rgb(0 115 203);
}

.modal-button {
  color: #fff;
}

.guest-popup-inner input {
  height: 50px;
  border-radius: 8px;
  border: none;
  padding: 0 10px;
}


.modal-inner::after {
  display: none;
}


.modal-buttons .modal-button {}

.send-message {
  width: 100%;
  height: 200px;
  border-radius: 15px;
  padding: 10px;
  background-color: #e6f4f1;
  border: 4px solid #538bde;
}

[data-page="send_message"] .content-block-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff76f;
}

.button.button-fill {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.edit-pic {
  background-color: #007aff;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  right: calc(50% - 75px);
}

.edit-pic img {
  width: 25px;
  height: 25px;
}

.change-settings input[type=file] {
  display: none;
}

.change-settings .item-pic {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.user-image {
  margin-top: 10px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.content-block.message-form {
  margin-top: 0;
}

.submit-message {
  margin-top: 10px;
}

/* Present */
.present {
  width: 410px;
  margin: 0 auto;
  position: fixed;
  top: 53%;
  left: calc(50% - 205px);
  z-index: 13500;
  display: none;
}

.box,
.lid {
  background:
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    -webkit-radial-gradient(white 15%, transparent 15.1%),
    rgb(240, 58, 58);
  background-position: 0 0, 25px 25px;
  background-size: 50px 50px;
  position: relative;
  margin: 0 auto;
}

.box {
  width: 200px;
  height: 125px;
  border-radius: 0 0 10px 10px;
}

.lid {
  width: 200px;
  height: 35px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 0 2px;
  background-color: rgb(216, 52, 52);
  /* transitions */
  top: 0;
  left: 0;
  transition:
    top ease-out 0.5s,
    left ease-out 0.5s,
    transform ease-out 0.5s;
  border-radius: 10px 10px 0 0;

}

.box span,
.lid span {
  position: absolute;
  display: block;
  background: rgba(235, 199, 0, 0.8);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

.box span:first-child {
  width: 100%;
  height: 30px;
  top: 40px;
}

.box span:last-child,
.lid span {
  width: 30px;
  height: 100%;
  left: 85px;
}

.lid span {
  left: 85px;
}

.promo {
  font-size: 30px;
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  height: 0;
  top: 10px;
  transition: all ease-out 0.7s;
}

.promo p {
  font-size: 24px;
  margin: 0;
}

.promo h2 {
  font-size: 40px;
  margin: 0;
}

/* hover effects */
/* .present:hover .lid {
  top: -100px;
  transform: rotateZ(10deg);
  left: 10px;
} */

.present:hover .promo {
  top: -80px;
}

/* float button */
.float-button {
  position: fixed;
  z-index: 999999;
  bottom: 50px;
  left: 13px;
  background: rgb(30 131 209);
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.float-button img {
  width: 28px;
}

.received-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.received-messages img {
  width: 85%;
}

.share-btn {
  width: 165px;
  margin: auto;
  font-size: 22px;
  font-weight: 600;
  background: #ff7400;
  /* background: #7e1414; */
  padding: 5px 20px;
  border-radius: 10px;
}